
<div mat-dialog-content>
    <h1 mat-dialog-title>
        Login/Register
    </h1>

    <div fxLayout="column" fxLayoutAlign="stretch">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input  matInput [(ngModel)]="data.username" (focusout)="onLeaveUsernameField()">
        </mat-form-field>
    </div>


    <div  *ngIf="data.username">
        <mat-form-field  fxFill appearance="fill">
            <mat-label>Password</mat-label>
            <input  matInput [type]="hide_password ? 'password' : 'text'" (input)="username_ok = false" [(ngModel)]="data.password" >
            <button mat-icon-button matSuffix (click)="hide_password = !hide_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password" >
            <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div  mat-dialog-actions>
  <button fxFill mat-button *ngIf="data.password && data.username" (click)="tryLogin()" >
     <!-- If username exists show login, else register  -->
     Login
   </button>
   <br/>
   <button fxFill mat-button style="margin-left: 0px;" (click)="registerUser()" >
   Register
  </button>
</div>