<h1 mat-dialog-title>Update Reivew</h1>
<hr>
<!--Create a form Reivew-->
<!--<form [formGroup]="UpdateReviewForm" (ngSubmit)="UpdateReview()">-->
<form [formGroup]="UpdateReviewForm" (ngSubmit)="UpdateReview()">
    <h3 style="font-size: large;">Appointment Date</h3>
    <mat-form-field appearance="fill">
        <mat-label for="review_date">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="review_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="col">
        <div class="col1">
            <div>
                <h3 style="font-size: large;">Professionalism</h3>
                <fieldset class="professionalism" for="professionalism_score">
                    <input type="radio" id="Professionalism_star5_update" name="professionalism_score" value="5" formControlName="professionalism_score"/><label class = "full" for="Professionalism_star5_update" title="5 stars" ></label>
                    <input type="radio" id="Professionalism_star4half_update" name="professionalism_score" value="4.5" formControlName="professionalism_score"/><label class="half" for="Professionalism_star4half_update" title="4.5 stars"></label>
                    <input type="radio" id="Professionalism_star4_update" name="professionalism_score" value="4" formControlName="professionalism_score"/><label class = "full" for="Professionalism_star4_update" title="4 stars"></label>
                    <input type="radio" id="Professionalism_star3half_update" name="professionalism_score" value="3.5" formControlName="professionalism_score" /><label class="half" for="Professionalism_star3half_update" title="3.5 stars"></label>
                    <input type="radio" id="Professionalism_star3_update" name="professionalism_score" value="3" formControlName="professionalism_score"/><label class = "full" for="Professionalism_star3_update" title="3 stars"></label>
                    <input type="radio" id="Professionalism_star2half_update" name="professionalism_score" value="2.5" formControlName="professionalism_score"/><label class="half" for="Professionalism_star2half_update" title="2.5 stars"></label>
                    <input type="radio" id="Professionalism_star2_update" name="professionalism_score" value="2" formControlName="professionalism_score"/><label class = "full" for="Professionalism_star2_update" title="2 stars"></label>
                    <input type="radio" id="Professionalism_star1half_update" name="professionalism_score" value="1.5" formControlName="professionalism_score"/><label class="half" for="Professionalism_star1half_update" title="1.5 stars"></label>
                    <input type="radio" id="Professionalism_star1_update" name="professionalism_score" value="1" formControlName="professionalism_score"/><label class = "full" for="Professionalism_star1_update" title="1 star"></label>
                    <input type="radio" id="Professionalism_starhalf_update" name="professionalism_score" value="0.5" formControlName="professionalism_score"/><label class="half" for="Professionalism_starhalf_update" title="0.5 stars"></label>
                </fieldset>
            </div>
            <br>
            <div>
                <br>
                <br>
                <h3 style="font-size: large;">Cleanliness </h3>
                <fieldset class="cleanliness" for="cleanliness_score">
                    <input type="radio" id="Cleanliness_star5_update" name="cleanliness_score" value="5" formControlName="cleanliness_score"/><label class = "full" for="Cleanliness_star5_update" title="5 stars"></label>
                    <input type="radio" id="Cleanliness_star4half_update" name="cleanliness_score" value="4.5" formControlName="cleanliness_score"/><label class="half" for="Cleanliness_star4half_update" title="4.5 stars"></label>
                    <input type="radio" id="Cleanliness_star4_update" name="cleanliness_score" value="4" formControlName="cleanliness_score"/><label class = "full" for="Cleanliness_star4_update" title="4 stars"></label>
                    <input type="radio" id="Cleanliness_star3half_update" name="cleanliness_score" value="3.5" formControlName="cleanliness_score"/><label class="half" for="Cleanliness_star3half_update" title="3.5 stars"></label>
                    <input type="radio" id="Cleanliness_star3_update" name="cleanliness_score" value="3" formControlName="cleanliness_score"/><label class = "full" for="Cleanliness_star3_update" title="3 stars"></label>
                    <input type="radio" id="Cleanliness_star2half_update" name="cleanliness_score" value="2.5" formControlName="cleanliness_score"/><label class="half" for="Cleanliness_star2half_update" title="2.5 stars"></label>
                    <input type="radio" id="Cleanliness_star2_update" name="cleanliness_score" value="2" formControlName="cleanliness_score"/><label class = "full" for="Cleanliness_star2_update" title="2 stars"></label>
                    <input type="radio" id="Cleanliness_star1half_update" name="cleanliness_score" value="1.5" formControlName="cleanliness_score"/><label class="half" for="Cleanliness_star1half_update" title="1.5 stars"></label>
                    <input type="radio" id="Cleanliness_star1_update" name="cleanliness_score" value="1" formControlName="cleanliness_score"/><label class = "full" for="Cleanliness_star1_update" title="1 star"></label>
                    <input type="radio" id="Cleanliness_starhalf_update" name="cleanliness_score" value="0.5" formControlName="cleanliness_score"/><label class="half" for="Cleanliness_starhalf_update" title="0.5 stars"></label>
                </fieldset>
            </div>

        
        </div>
        <div class="col2" style="margin-left: 100px;">
            <h3 style="font-size: large; ">Communication</h3>
            <fieldset class="communication" for="communication_score">
                <input type="radio" id="Communication_star5_update" name="communication_score" value="5" formControlName="communication_score"/><label class = "full" for="Communication_star5_update" title="5 stars"></label>
                <input type="radio" id="Communication_star4half_update" name="communication_score" value="4.5" formControlName="communication_score"/><label class="half" for="Communication_star4half_update" title="4.5 stars"></label>
                <input type="radio" id="Communication_star4_update" name="communication_score" value="4" formControlName="communication_score"/><label class = "full" for="Communication_star4_update" title="4 stars"></label>
                <input type="radio" id="Communication_star3half_update" name="communication_score" value="3.5" formControlName="communication_score"/><label class="half" for="Communication_star3half_update" title="3.5 stars"></label>
                <input type="radio" id="Communication_star3_update" name="communication_score" value="3" formControlName="communication_score"/><label class = "full" for="Communication_star3_update" title="3 stars"></label>
                <input type="radio" id="Communication_star2half_update" name="communication_score" value="2.5" formControlName="communication_score"/><label class="half" for="Communication_star2half_update" title="2.5 stars"></label>
                <input type="radio" id="Communication_star2_update" name="communication_score" value="2" formControlName="communication_score"/><label class = "full" for="Communication_star2_update" title="2 stars"></label>
                <input type="radio" id="Communication_star1half_update" name="communication_score" value="1.5" formControlName="communication_score"/><label class="half" for="Communication_star1half_update" title="1.5 stars"></label>
                <input type="radio" id="Communication_star1_update" name="communication_score" value="1" formControlName="communication_score"/><label class = "full" for="Communication_star1_update" title="1 star"></label>
                <input type="radio" id="Communication_starhalf_update" name="communication_score" value="0.5" formControlName="communication_score"/><label class="half" for="Communication_starhalf_update" title="0.5 stars"></label>
            </fieldset>
            <br>
            <div>
                <br>
                <br>
                <h3 style="font-size: large;">Overall value</h3>
                <fieldset class="overall" for ="value_score">
                    <input type="radio" id="overall_star5_update" name="value_score" value="5" formControlName="value_score"/><label class = "full" for="overall_star5_update" title="5 stars"></label>
                    <input type="radio" id="overall_star4half_update" name="value_score" value="4.5" formControlName="value_score"/><label class="half" for="overall_star4half_update" title="4.5 stars"></label>
                    <input type="radio" id="overall_star4_update" name="value_score" value="4" formControlName="value_score"/><label class = "full" for="overall_star4_update" title="4 stars"></label>
                    <input type="radio" id="overall_star3half_update" name="value_score" value="3.5" formControlName="value_score"/><label class="half" for="overall_star3half_update" title="3.5 stars"></label>
                    <input type="radio" id="overall_star3_update" name="value_score" value="3" formControlName="value_score"/><label class = "full" for="overall_star3_update" title="3 stars"></label>
                    <input type="radio" id="overall_star2half_update" name="value_score" value="2.5" formControlName="value_score"/><label class="half" for="overall_star2half_update" title="2.5 stars"></label>
                    <input type="radio" id="overall_star2_update" name="value_score" value="2" formControlName="value_score"/><label class = "full" for="overall_star2_update" title="2 stars"></label>
                    <input type="radio" id="overall_star1half_update" name="value_score" value="1.5" formControlName="value_score"/><label class="half" for="overall_star1half_update" title="1.5 stars"></label>
                    <input type="radio" id="overall_star1_update" name="value_score" value="1" formControlName="value_score"/><label class = "full" for="overall_star1_update" title="1 star"></label>
                    <input type="radio" id="overall_starhalf_update" name="value_score" value="0.5" formControlName="value_score"/><label class="half" for="overall_starhalf_update" title="0.5 stars"></label>
                </fieldset>
            </div>
        </div>
    </div>
    <br>
    <h3 style="font-size: large;">Feedback</h3>
    <mat-form-field class="Feedback" appearance="fill">
        <mat-label for="feedback">Leave a comment</mat-label>
        <textarea matInput placeholder="Leave a comment" rows="10" cols="50" formControlName="feedback"></textarea>
    </mat-form-field>

    <div class="Submit">
        <button mat-raised-button color="primary" type="submit">Submit Feedback</button> 
    </div>
</form>