<h1 mat-dialog-title>Update Reivew</h1>
<hr>
<!--Create a form Reivew-->
<form>
    <h3 style="font-size: large;">Appointment Date</h3>
    <mat-form-field appearance="fill">
        <mat-label>Appointment Date</mat-label>
        <mat-select>
          <mat-option value="one">Date 1</mat-option>
          <mat-option value="two">Date 2</mat-option>
          <mat-option value="three">Date 3</mat-option>
        </mat-select>
      </mat-form-field>
    <div class="col">
        <div class="col1">
            <div>
                <h3 style="font-size: large;">Professionalism</h3>
                <fieldset class="professionalism_update" >
                    <input type="radio" id="Professionalism_star5_update" name="Professionalism_rating_update" value="5" /><label class = "full" for="Professionalism_star5_update" title="5 stars"></label>
                    <input type="radio" id="Professionalism_star4half_update" name="Professionalism_rating_update" value="4 and a half" /><label class="half" for="Professionalism_star4half_update" title="4.5 stars"></label>
                    <input type="radio" id="Professionalism_star4_update" name="Professionalism_rating_update" value="4" /><label class = "full" for="Professionalism_star4_update" title="4 stars"></label>
                    <input type="radio" id="Professionalism_star3half_update" name="Professionalism_rating_update" value="3 and a half" /><label class="half" for="Professionalism_star3half_update" title="3.5 stars"></label>
                    <input type="radio" id="Professionalism_star3_update" name="Professionalism_rating_update" value="3" /><label class = "full" for="Professionalism_star3_update" title="3 stars"></label>
                    <input type="radio" id="Professionalism_star2half_update" name="Professionalism_rating_update" value="2 and a half" /><label class="half" for="Professionalism_star2half_update" title="2.5 stars"></label>
                    <input type="radio" id="Professionalism_star2_update" name="Professionalism_rating_update" value="2" /><label class = "full" for="Professionalism_star2_update" title="2 stars"></label>
                    <input type="radio" id="Professionalism_star1half_update" name="Professionalism_rating_update" value="1 and a half" /><label class="half" for="Professionalism_star1half_update" title="1.5 stars"></label>
                    <input type="radio" id="Professionalism_star1_update" name="Professionalism_rating_update" value="1" /><label class = "full" for="Professionalism_star1_update" title="1 star"></label>
                    <input type="radio" id="Professionalism_starhalf_update" name="Professionalism_rating_update" value="half" /><label class="half" for="Professionalism_starhalf_update" title="0.5 stars"></label>
                </fieldset>
            </div>
            <br>
            <div>
                <br>
                <br>
                <h3 style="font-size: large;">Cleanliness </h3>
                <fieldset class="cleanliness_update">
                    <input type="radio" id="Cleanliness_star5_update" name="Cleanliness_rating_update" value="5" /><label class = "full" for="Cleanliness_star5_update" title="5 stars"></label>
                    <input type="radio" id="Cleanliness_star4half_update" name="Cleanliness_rating_update" value="4 and a half" /><label class="half" for="Cleanliness_star4half_update" title="4.5 stars"></label>
                    <input type="radio" id="Cleanliness_star4_update" name="Cleanliness_rating_update" value="4" /><label class = "full" for="Cleanliness_star4_update" title="4 stars"></label>
                    <input type="radio" id="Cleanliness_star3half_update" name="Cleanliness_rating_update" value="3 and a half" /><label class="half" for="Cleanliness_star3half_update" title="3.5 stars"></label>
                    <input type="radio" id="Cleanliness_star3_update" name="Cleanliness_rating_update" value="3" /><label class = "full" for="Cleanliness_star3_update" title="3 stars"></label>
                    <input type="radio" id="Cleanliness_star2half_update" name="Cleanliness_rating_update" value="2 and a half" /><label class="half" for="Cleanliness_star2half_update" title="2.5 stars"></label>
                    <input type="radio" id="Cleanliness_star2_update" name="Cleanliness_rating_update" value="2" /><label class = "full" for="Cleanliness_star2_update" title="2 stars"></label>
                    <input type="radio" id="Cleanliness_star1half_update" name="Cleanliness_rating_update" value="1 and a half" /><label class="half" for="Cleanliness_star1half_update" title="1.5 stars"></label>
                    <input type="radio" id="Cleanliness_star1_update" name="Cleanliness_rating_update" value="1" /><label class = "full" for="Cleanliness_star1_update" title="1 star"></label>
                    <input type="radio" id="Cleanliness_starhalf_update" name="Cleanliness_rating_update" value="half" /><label class="half" for="Cleanliness_starhalf_update" title="0.5 stars"></label>
                </fieldset>
            </div>

        
        </div>
        <div class="col2" style="margin-left: 260px;">
            <h3 style="font-size: large; ">Communication</h3>
            <fieldset class="communication_update" >
                <input type="radio" id="Communication_star5_update" name="Communication_rating_update" value="5" /><label class = "full" for="Communication_star5_update" title="5 stars"></label>
                <input type="radio" id="Communication_star4half_update" name="Communication_rating_update" value="4 and a half" /><label class="half" for="Communication_star4half_update" title="4.5 stars"></label>
                <input type="radio" id="Communication_star4_update" name="Communication_rating_update" value="4" /><label class = "full" for="Communication_star4_update" title="4 stars"></label>
                <input type="radio" id="Communication_star3half_update" name="Communication_rating_update" value="3 and a half" /><label class="half" for="Communication_star3half_update" title="3.5 stars"></label>
                <input type="radio" id="Communication_star3_update" name="Communication_rating_update" value="3" /><label class = "full" for="Communication_star3_update" title="3 stars"></label>
                <input type="radio" id="Communication_star2half_update" name="Communication_rating_update" value="2 and a half" /><label class="half" for="Communication_star2half_update" title="2.5 stars"></label>
                <input type="radio" id="Communication_star2_update" name="Communication_rating_update" value="2" /><label class = "full" for="Communication_star2_update" title="2 stars"></label>
                <input type="radio" id="Communication_star1half_update" name="Communication_rating_update" value="1 and a half" /><label class="half" for="Communication_star1half_update" title="1.5 stars"></label>
                <input type="radio" id="Communication_star1_update" name="Communication_rating_update" value="1" /><label class = "full" for="Communication_star1_update" title="1 star"></label>
                <input type="radio" id="Communication_starhalf_update" name="Communication_rating_update" value="half" /><label class="half" for="Communication_starhalf_update" title="0.5 stars"></label>
            </fieldset>
            <br>
            <div>
                <br>
                <br>
                <h3 style="font-size: large;">Overall value</h3>
                <fieldset class="overall_update">
                    <input type="radio" id="overall_star5_update" name="overall_rating_update" value="5" /><label class = "full" for="overall_star5_update" title="5 stars"></label>
                    <input type="radio" id="overall_star4half_update" name="overall_rating_update" value="4 and a half" /><label class="half" for="overall_star4half_update" title="4.5 stars"></label>
                    <input type="radio" id="overall_star4_update" name="overall_rating_update" value="4" /><label class = "full" for="overall_star4_update" title="4 stars"></label>
                    <input type="radio" id="overall_star3half_update" name="overall_rating_update" value="3 and a half" /><label class="half" for="overall_star3half_update" title="3.5 stars"></label>
                    <input type="radio" id="overall_star3_update" name="overall_rating_update" value="3" /><label class = "full" for="overall_star_update3" title="3 stars"></label>
                    <input type="radio" id="overall_star2half_update" name="overall_rating_update" value="2 and a half" /><label class="half" for="overall_star2half_update" title="2.5 stars"></label>
                    <input type="radio" id="overall_star2_update" name="overall_rating_update" value="2" /><label class = "full" for="overall_star2_update" title="2 stars"></label>
                    <input type="radio" id="overall_star1half_update" name="overall_rating_update" value="1 and a half" /><label class="half" for="overall_star1half_update" title="1.5 stars"></label>
                    <input type="radio" id="overall_star1_update" name="overall_rating_update" value="1" /><label class = "full" for="overall_star1_update" title="1 star"></label>
                    <input type="radio" id="overall_starhalf_update" name="overall_rating_update" value="half" /><label class="half" for="overall_starhalf_update" title="0.5 stars"></label>
                </fieldset>
            </div>
        </div>
    </div>
    <br>
    <h3 style="font-size: large;">Feedback</h3>
    <mat-form-field class="Feedback" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Leave a comment" rows="10"></textarea>
    </mat-form-field>

    <div class="Submit">
        <button mat-raised-button color="primary" type="submit" (click)="openSnackBar('Update Successful')">Update Feedback</button> 
    </div>
</form>