<h1 mat-dialog-title>Detail Information</h1>
<hr>
<!--Create a form Reivew-->
<!--<form [formGroup]="UpdateReviewForm" (ngSubmit)="UpdateReview()">-->
<form [formGroup]="peopleDetailForm" (ngSubmit)="closeDialog()">
    <br>
    <h3 style="font-size: large;">Name</h3>
    <div class="splitscreen" >
        <div class="left" style="float: left; width: auto">
            <mat-form-field class="first_name" appearance="fill">
                <mat-label for="first_name">First Name</mat-label>
                <textarea matInput placeholder="First Name" rows="1" formControlName="first_name" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="middle" style="float: left; margin-left: 10px;">
            <mat-form-field class="middle_name" appearance="fill">
                <mat-label for="middle_name">Middle Name</mat-label>
                <textarea matInput placeholder="Middle Name" rows="1" formControlName="middle_name" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="right" style="float: left; width: auto; margin-left: 10px;">
            <mat-form-field class="last_name" appearance="fill">
                <mat-label for="last_name">Last Name</mat-label>
                <textarea matInput placeholder="Last Name" rows="1" formControlName="last_name" readonly></textarea>
            </mat-form-field>
        </div>
    </div>

    <h3 style="font-size: large;">Basic Info</h3>
    <div class="splitscreen" >
        <div class="left" style="float: left; width: auto">
            <mat-form-field class="ssn" appearance="fill">
                <mat-label for="ssn">Social Secerty Number</mat-label>
                <textarea matInput placeholder="SSN" rows="1" formControlName="ssn" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="middle" style="float: left; margin-left: 10px;">
            <mat-form-field class="gender" appearance="fill">
                <mat-label for="gender">Gender</mat-label>
                <textarea matInput placeholder="Gender" rows="1" formControlName="gender" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="right" style="float: left; width: auto; margin-left: 10px;">
            <mat-form-field class="date_of_birth" appearance="fill">
                <mat-label for="date_of_birth">Date of Birth</mat-label>
                <textarea matInput placeholder="Date of Birth" rows="1" formControlName="date_of_birth" readonly></textarea>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field class="phone_number" appearance="fill" style="width: 620px;">
        <mat-label for="phone_number">Phone Number</mat-label>
        <textarea matInput placeholder="Phone Number" rows="1" cols="500" formControlName="phone_number" readonly></textarea>
    </mat-form-field>

    <h3 style="font-size: large;">Guardian Info</h3>
    <div class="splitscreen" >
        <div class="left" style="float: left; width: auto">
            <mat-form-field class="guardian_first_name" appearance="fill">
                <mat-label for="guardian_first_name">First Name</mat-label>
                <textarea matInput placeholder="First Name" rows="1" formControlName="guardian_first_name" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="middle" style="float: left; margin-left: 10px;">
            <mat-form-field class="guardian_middle_name" appearance="fill">
                <mat-label for="guardian_middle_name">Middle Name</mat-label>
                <textarea matInput placeholder="Middle Name" rows="1" formControlName="guardian_middle_name" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="right" style="float: left; width: auto; margin-left: 10px;">
            <mat-form-field class="guardian_last_name" appearance="fill">
                <mat-label for="guardian_last_name">Last Name</mat-label>
                <textarea matInput placeholder="Last Name" rows="1" formControlName="guardian_last_name" readonly></textarea>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field class="guardian_ssn" appearance="fill" style="width: 620px;">
        <mat-label for="guardian_ssn">Social Secerty Number</mat-label>
        <textarea matInput placeholder="SSN" rows="1" cols="50" formControlName="guardian_ssn" readonly></textarea>
    </mat-form-field>

    <h3 style="font-size: large;">Address Info</h3>
    <mat-form-field class="address_street" appearance="fill" style="width: 620px;">
        <mat-label for="address_street">Street Name</mat-label>
        <textarea matInput placeholder="Street Name" rows="1" cols="500" formControlName="address_street" readonly></textarea>
    </mat-form-field>
    <div class="splitscreen" >
        <div class="left" style="float: left; width: auto">
            <mat-form-field class="address_city" appearance="fill">
                <mat-label for="address_city">City</mat-label>
                <textarea matInput placeholder="City" rows="1" formControlName="address_city" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="middle" style="float: left; margin-left: 10px;">
            <mat-form-field class="address_region" appearance="fill">
                <mat-label for="address_region">Region</mat-label>
                <textarea matInput placeholder="Region" rows="1" formControlName="address_region" readonly></textarea>
            </mat-form-field>
        </div>
        <div class="right" style="float: left; width: auto; margin-left: 10px;">
            <mat-form-field class="address_postal_code" appearance="fill">
                <mat-label for="address_postal_code">Postal Code</mat-label>
                <textarea matInput placeholder="Postal Code" rows="1" formControlName="address_postal_code" readonly></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="Close">
        <button mat-raised-button color="primary" type="Close">Close</button> 
    </div>
</form>