<!--Set dentist1.jpg as header background image-->
<header
  fxLayout="column"
  fxLayoutAlign="center center"
  class="big-header"
  style="background-image: url('assets/img/dentist1.jpg')"
>
  <mat-toolbar
    fxFill
    class="big-headline"
    angular-textcolor="White"
    fxLayout="column"
    fxLayoutAlign="center center"
    style="background-color: transparent"
  >
    <h1 style="color: white">My Account</h1>
  </mat-toolbar>
</header>

<div class="General-box">
  <div class="container-fluid padding">
    <div
      class="row welcome text-center"
      style="margin-left: 250px; margin-right: 250px"
    >
      <div class="col-12">
        <br />
        <h1 style="margin-top: 50px; font-size: 50px">Personal Information</h1>
        <h3 style="padding-left: 2px">
          View and edit all your personal information.
        </h3>
      </div>
      <hr />
    </div>
  </div>
</div>
<form class="form" [formGroup]="personForm">
  <div class="container">
    <div class="row">
      <label>
        <h2>Name</h2>
      </label>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName="first_name" />
          <mat-error *ngIf="hasError('first_name', 'required')"
            >First Name is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Middle name</mat-label>
          <input matInput formControlName="middle_name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput formControlName="last_name" />
          <mat-error *ngIf="hasError('last_name', 'required')"
            >Last Name is required</mat-error
          >
        </mat-form-field>
      </div>
      <br />
    </div>
    <div class="row">
      <label>
        <h2>General Information</h2>
      </label>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            mask="(000) 000-0000"
            formControlName="phone_number"
          />
          <mat-error *ngIf="hasError('phone_number', 'required')"
            >Phone Number is required</mat-error
          >
          <mat-error *ngIf="hasError('phone_number', 'minlength')"
            >Phone number has to be 10 digits
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="other"
              >Other / Prefer not to disclose</mat-option
            >
          </mat-select>
          <mat-error *ngIf="hasError('gender', 'required')"
            >Gender is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [matDatepickerFilter]="prevDayFilter"
            formControlName="date_of_birth"
            (dateChange)="onDoBChange()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="hasError('date_of_birth', 'required')"
            >Birth Date is required</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div fxLayout="row" fxLayoutAlign=" start">
        <mat-form-field>
          <mat-label>Social Security Number</mat-label>
          <input matInput mask="000-000-000" formControlName="ssn" />
          <mat-error *ngIf="hasError('ssn', 'required')"
            >SSN is required</mat-error
          >
          <mat-error *ngIf="hasError('ssn', 'minlength')"
            >SSN has to be 9 digits long</mat-error
          >
        </mat-form-field>
      </div>
      <br />
    </div>
    <div class="row">
      <label>
        <h2>Address Information</h2>
      </label>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-form-field style="display: inline">
          <mat-label>Street Address</mat-label>
          <input matInput formControlName="address_street" />
          <mat-error *ngIf="hasError('address_street', 'required')"
            >Address is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput formControlName="address_city" />
          <mat-error *ngIf="hasError('address_city', 'required')"
            >City is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Region</mat-label>
          <input matInput formControlName="address_region" />
          <mat-error *ngIf="hasError('address_region', 'required')"
            >Region is required</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div fxLayout="row" fxLayoutAlign=" start">
        <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input
            matInput
            mask="S9S-9S9"
            formControlName="address_postal_code"
          />
          <mat-error *ngIf="hasError('address_postal_code', 'required')"
            >Postal Code is required</mat-error
          >
          <mat-error *ngIf="hasError('address_postal_code', 'minlength')"
            >Postal Code has to be 6 characters
          </mat-error>
        </mat-form-field>
      </div>
      <br />
    </div>
    <div *ngIf="haveGuardian">
      <form
        class="form"
        [formGroup]="guardianForm"
        (change)="onGuardianFormChange()"
      >
        <div class="row">
          <label>
            <h2>Guardian Information</h2>
          </label>
          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-form-field appearance="fill">
              <mat-label for="guardian_first_name">First Name</mat-label>
              <input
                matInput
                placeholder="First Name"
                rows="1"
                formControlName="guardian_first_name"
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label for="guardian_middle_name">Middle Name</mat-label>
              <input
                matInput
                placeholder="Middle Name"
                rows="1"
                formControlName="guardian_middle_name"
              />
            </mat-form-field>
            <mat-form-field class="guardian_last_name" appearance="fill">
              <mat-label for="guardian_last_name">Last Name</mat-label>
              <input
                matInput
                placeholder="Last Name"
                rows="1"
                formControlName="guardian_last_name"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign=" start">
          <mat-form-field
            style="display: inline"
            class="guardian_phone_number"
            appearance="fill"
          >
            <mat-label for="guardian_phone_number">Phone Number</mat-label>
            <input
              matInput
              placeholder="Phone Number"
              rows="1"
              mask="(000) 000-0000"
              formControlName="guardian_phone_number"
            />
          </mat-form-field>
        </div>
        <!-- Auth id readonly indicator button -->
        <h2>Guardian: {{ this.personForm?.value.guardian_id || "Unknown" }}</h2>
      </form>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <div>
        <button
          class="Savebutton"
          mat-raised-button
          color="primary"
          [disabled]="!personForm.valid"
          (click)="saveChanges()"
        >
          Save Changes
        </button>
      </div>
      <div>
        <button
          class="Cancelbutton"
          mat-raised-button
          (click)="cancelChanges()"
        >
          Cancel Changes
        </button>
      </div>
    </div>
    <br />
    <label>
      <h2>Upcoming Appointments</h2>
    </label>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="appointment_id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.appointment_id }}
        </td>
      </ng-container>

      <!-- Appointment Date Column -->
      <ng-container matColumnDef="clinic_id">
        <th mat-header-cell *matHeaderCellDef>Clinic</th>
        <td mat-cell *matCellDef="let element">
          {{ element.branch.address_city }}
        </td>
      </ng-container>

      <!-- Appointment Date Column -->
      <ng-container matColumnDef="appointment_status">
        <th mat-header-cell *matHeaderCellDef>Appointment Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.appointment_status }}
        </td>
      </ng-container>

      <!-- Overall Column -->
      <ng-container matColumnDef="appointment_date">
        <th mat-header-cell *matHeaderCellDef>Appointment Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.appointment_date | date }}
        </td>
      </ng-container>

      <!-- Professionalism Column -->
      <ng-container matColumnDef="start_time">
        <th mat-header-cell *matHeaderCellDef>Start Time</th>
        <td mat-cell *matCellDef="let element">{{ element.start_time }}</td>
      </ng-container>

      <!-- Cleanliness Column -->
      <ng-container matColumnDef="end_time">
        <th mat-header-cell *matHeaderCellDef>End Time</th>
        <td mat-cell *matCellDef="let element">{{ element.end_time }}</td>
      </ng-container>

      <!-- Communication Column -->
      <ng-container matColumnDef="appointment_type">
        <th mat-header-cell *matHeaderCellDef>Appointment Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.appointment_type }}
        </td>
      </ng-container>

      <!-- Feedback Column -->
      <ng-container matColumnDef="room_assigned">
        <th mat-header-cell *matHeaderCellDef>Room Assigned</th>
        <td mat-cell *matCellDef="let element">
          {{ element.room_assigned }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</form>
