

#background1{
  filter: blur(3px)
}

.padding{
  padding-bottom: 2rem;
}

.welcome{
  width: 75%;
  margin: 0 auto;
}

.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-bottom: 1rem;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.txtcenter{
    text-align: center;
}

.container{
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-bottom: 2px;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  margin-right:40px;
  width: 33%;
}

table {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.col{
  display:flex;
}

button{
margin-right: 10px;
}

.Savebutton:hover{
background-color:darkblue;
}
.Cancelbutton:hover{
background-color: lightgray;
}