<div  fxFlexFill fxLayoutAlign="center center" >
    <mat-card style="width: 90%; height: 90%; text-align: center;">
            <mat-card-content fxFlexFill fxLayout="column" style="width: 100%; height: 100%;" >
                <button mat-button [matMenuTriggerFor]="menu">Menu</button>    
                <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                     </mat-menu>
                    <div fxFlex="70" >
                            <img fxFill src="https://cdn.betterttv.net/emote/608d822d39b5010444d09c68/3x" style="object-fit: contain;" >
                    </div>
                    <mat-card-title fxFlex="7" fxLayoutAlign="center center" >
                            The code monkeys at our headquarters are working VEWY HAWD to fix this! 
                    </mat-card-title>

                    <mat-card-title fxFlex="7" fxLayoutAlign="center center" >
                            BTW this is a 404 Error
                    </mat-card-title>

                    
            </mat-card-content>
    </mat-card>
</div>

