<!-- ToolBar/Sidenav -->

<!-- Menu template -->
<ng-template #menu_template let-value="text">
  <!-- About us menu -->

  <button mat-button [matMenuTriggerFor]="menu">About us</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>mood</mat-icon>
      <span>Who we are</span>
    </button>
    <button mat-menu-item routerLink="/faq">
      <mat-icon>info</mat-icon>
      <span>FAQ</span>
    </button>
  </mat-menu>
  <a mat-button routerLink="/our-services">Our Services</a>
  <a mat-button routerLink="/faq">FAQ</a>
  <a mat-button routerLink="/search">Search</a>
  <a mat-button routerLink="/search-appointment">Search Appointment</a>
  <a mat-button routerLink="/contact">Contact Us</a>
  <a mat-button routerLink="/testimonials">Testimonials</a>
  <a mat-button routerLink="/receptionist">recep (temp)</a>
</ng-template>

<div class="main-div">
  <!-- Toolbar -->
  <mat-toolbar color="primary" class="mat-elevation-z8" style="z-index: 2">
    <!-- Hamburger button -->
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <!-- Title -->
    <button mat-button routerLink="/">DCMS</button>

    <!-- Toolbar menu -->
    <div fxShow="true" fxHide.lt-md="true">
      <ng-container *ngTemplateOutlet="menu_template"></ng-container>
    </div>

    <span class="spacer"></span>

    <!-- If logged show exit button, else, login button -->

    <ng-container *ngIf="supabase._supabase.auth.user()">
      <!-- Show user icon -->
      <button
        mat-fab
        [matMenuTriggerFor]="menu"
        style="
          background-size: cover;
          background-image: url('https://cdn.betterttv.net/emote/5ff827395ef7d10c7912c106/3x');
        "
      ></button>

      <!-- User menu  -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/my/billing">
          <mat-icon>account_balance</mat-icon>
          <span>Billing</span>
        </button>
        <button mat-menu-item routerLink="/my/account">
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item routerLink="/my/appointments">
          <mat-icon>event</mat-icon>
          <span>My Appointments</span>
        </button>
        <button mat-menu-item routerLink="/my/reviews">
          <mat-icon>reviews</mat-icon>
          <span>My Reviews</span>
        </button>
        <button mat-menu-item routerLink="/" (click)="supabase.signOut()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-container *ngIf="!supabase._supabase.auth.user()">
      <button mat-raised-button (click)="auth.openLoginDialog()">
        <mat-icon>login</mat-icon> Login
      </button>
    </ng-container>
  </mat-toolbar>

  <!-- Sidenav -->
  <!-- Placed under toolBarFirstRow -->
  <mat-sidenav-container fxFlexFill style="position: relative">
    <!-- Sidenav menu -->
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <ng-container *ngTemplateOutlet="menu_template"></ng-container>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <!-- Main Content here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
