<div fxFill fxLayout="column">
  <header class="small-header" fxLayout="column">
    <mat-toolbar
      fxFill
      class="small-headline"
      color="primary"
      fxLayoutAlign="begin center"
    >
      <h1>
        My Billing
        <h2>Review your transactions and payment information</h2>
      </h1>
      <span class="spacer"></span>
      <h3>-50K&nbsp;&nbsp;&nbsp;</h3>

      <img
        src="https://cdn.frankerfacez.com/emoticon/139407/2"
        alt=""
        style="height: 75%; width: auto"
      />
    </mat-toolbar>
  </header>

  <div>
    <!-- Material Card for each fee -->
    <mat-card *ngFor="let fee of dataSource">
      <mat-card-title>
        {{
          (fee?.appointment_procedure?.procedure_type_id?.name || "Unknown") +
            " Procedure"
        }}
      </mat-card-title>
      <mat-card-subtitle
        >Total Cost {{ fee?.total_charge || "TBD" }}
      </mat-card-subtitle>
      <mat-card-content>
        <strong>Procedure Code:</strong>
        {{
          fee?.appointment_procedure?.procedure_type_id?.procedure_code ||
            "Unknown"
        }}
        <br />
        <strong>Procedure Details:</strong>
        {{
          fee?.appointment_procedure?.procedure_type_id?.description ||
            "Unknown"
        }}
        <br />
        <strong>Tooth:</strong>
        {{ fee?.appointment_procedure?.tooth || "Unknown" }}
        <br />
        <strong>Comments:</strong>
        {{ fee?.appointment_procedure?.comments || "None" }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
