<div fxLayout="column">
  <header class="small-header" fxLayout="column">
    <mat-toolbar
      fxFill
      class="small-headline"
      color="primary"
      fxLayoutAlign="begin center"
    >
      <h1>
        My Billing
        <h2>Review your transactions and payment information</h2>
      </h1>
      <span class="spacer"></span>
      <h3>-50K&nbsp;&nbsp;&nbsp;</h3>

      <img
        src="https://cdn.frankerfacez.com/emoticon/139407/2"
        alt=""
        style="height: 75%; width: auto"
      />
    </mat-toolbar>
  </header>

  <!-- Material Card for each fee -->
  <div *ngIf="!payingAnimation">
    <mat-card *ngFor="let fee of dataSource" [class.faded]="fee?.paid">
      <mat-card-title>
        {{ (fee?.name || "Unknown") + " Procedure" }}
      </mat-card-title>
      <mat-card-subtitle
        >Total Cost {{ fee?.price * fee?.quantity | currency }}
      </mat-card-subtitle>
      <mat-card-content>
        <strong>Procedure Code:</strong>
        {{ fee?.procedure_type_id || "Unknown" }}
        <br />
        <strong>Procedure Details:</strong>
        {{ fee?.description || "Unknown" }}
        <br />
        <strong>Tooth:</strong>
        {{ fee?.tooth || "Unknown" }}
        <br />
        <strong>Comments:</strong>
        {{ fee?.comments || "None" }}
        <br />
        <strong>Paid:</strong>
        {{ fee?.paid || "None" }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Infinite loading -->
<!-- If payingAnimation -->
<div class="spinner-container" *ngIf="payingAnimation">
  <mat-spinner></mat-spinner>
  <mat-label>Payment in progress</mat-label>
</div>

<button
  matBadge="{{ this.nOutstandingCharges }}"
  mat-fab
  color="primary"
  class="fab"
  (click)="openPayMenu()"
  matTooltip="Pay outstanding charges"
>
  <mat-icon>credit_card</mat-icon>
</button>
