<!--Set dentist1.jpg as header background image-->
<header fxLayout="column" fxLayoutAlign="center center" class='big-header' style="background-image: url('assets/img/dentist1.jpg');">
    <mat-toolbar fxFill class='big-headline' angular-textcolor="White" fxLayout="column" fxLayoutAlign="center center" style="background-color:transparent ;">
        <h1 style="color:white">Dentist Menu</h1>
    </mat-toolbar>
</header>

<div class="General-box">
    <div class="container-fluid padding">
        <div class="row welcome text-center" style="margin-left: 250px; margin-right: 250px;">
            <div class="col-12">
                <br>
                <h1 style="margin-top: 50px; font-size: 50px;">View appointment's treatment</h1>
                <h3 style="padding-left: 2px">View and edit an existing appointment's treatment</h3>
                <hr>
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="container">

</div>