<!-- Testimonial page -->
<!-- Using a ngFor and a template of cards to show reviews -->
<header class='small-header' fxLayout="column" fxLayoutAlign="center center">
  <mat-toolbar
    fxFill
    class="small-headline"
    color="primary"
    fxLayoutAlign="begin center"
  >
      <h1>Testimonials <h2>We take feedback very seriously</h2> </h1>
        <span class="spacer"></span>
      <img src="https://cdn.betterttv.net/emote/5efcd82551e3910deed68751/3x" alt="dono wall" style="height: 75%; width: auto;">
  </mat-toolbar>
</header>

<div fxFlexFill fxLayout="row" style="padding: 2rem;">
  <div fxFlex fxLayoutAlign="center start">
    <mat-card >
      <mat-card-title-group>
        <mat-card-title>Reviewer-tron 2k</mat-card-title>
        <mat-card-subtitle
          >Write your own fake reviews here! (please don't rate limit the
          api...)</mat-card-subtitle
        >
      </mat-card-title-group>
      <mat-card-content>
        <!-- Material form with the following fields: -->
        <!-- Review headline, review content, 4 score sliders -->
        <!-- Submit and reset button -->
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
          <mat-form-field fxFill>
            <mat-label>Your Headline</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              id="reviewHeadline"
              formControlName="reviewHeadline"
              placeholder="Great service but too expensive"
            />
          </mat-form-field>
          <br />
          <mat-form-field fxFill appearance="fill">
            <mat-label>Your Review</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              formControlName="reviewContent"
              placeholder="* Your 200 words essay *"
            ></textarea>
          </mat-form-field>

          <div fxFlexFill fxLayoutAlign="begin center">
            <label fxFlex="20" for="reviewScore">Review Score</label>
            <mat-slider
              fxFlex="80"
              formControlName="reviewScore"
              value="100"
              min="0"
              max="100"
              step="1"
              thumbLabel
              tickInterval="10"
              aria-labelledby="discrete-slider-always unit(s)"
            ></mat-slider>
          </div>
          <div fxFlexFill fxLayoutAlign="begin center">
            <button
              fxFlex
              mat-raised-button
              type="submit"
              class="btn btn-primary"
            >
              Submit
            </button>
            <button
              fxFlex
              mat-raised-button
              type="reset"
              class="btn btn-danger"
            >
              Reset
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <button
    fxFlex
    mat-raised-button
    (click)="onReviewClick()"
    style="width: 100%; height: min-content; white-space: normal"
  >
    <ng-container *ngIf="review && reviewLoaded">
      <mat-card-title>{{ review?.headline }}</mat-card-title>
      <span>
        <span *ngFor="let _ of review?.rating || 0 | times"> ⭐ </span>
      </span>
      <br />
      {{ review?.content }}
    </ng-container>
    <ng-container *ngIf="!review || !reviewLoaded">
      <!-- mat-spinner centered on button -->
      <mat-spinner
        class="spinner"
        [diameter]="30"
        [strokeWidth]="4"
        [value]="50"
        [mode]="'indeterminate'"
        style="margin: 2rem auto; min-height: 4rem"
      ></mat-spinner>
    </ng-container>
  </button>
</div>
