<!-- Testimonial page -->
<!-- Using a ngFor and a template of cards to show reviews -->
<div fxFill fxLayout="column">
  <header class="small-header" fxLayout="column">
    <mat-toolbar
      fxFill
      class="small-headline"
      color="primary"
      fxLayoutAlign="begin center"
    >
      <h1>
        Testimonials
        <h2>We take feedback very seriously</h2>
      </h1>
      <span class="spacer"></span>
      <img
        src="https://cdn.betterttv.net/emote/5efcd82551e3910deed68751/3x"
        alt="dono wall"
        style="height: 75%; width: auto"
      />
    </mat-toolbar>
  </header>

  <cdk-virtual-scroll-viewport
    appendOnly
    itemSize="250"
    fxFlex
    style="height: 100%; align-items: center; justify-content: center"
  >
    <div class="content">
      <mat-card
        *cdkVirtualFor="let rev of reviewDataSource"
        style="
          width: 100%;
          height: 250px;
          word-wrap: break-word;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: pre-wrap;
        "
      >
        <mat-card-title>
          {{ rev?.written_by?.person?.first_name }}
          {{ rev?.written_by?.person?.last_name }}
        </mat-card-title>

        <!-- 2 column table -->
        <mat-card-content>
          <table>
            <thead>
              <tr>
                <th>Overall Value</th>
                <th>Professionalism</th>
                <th>Cleanliness</th>
                <th>Communication</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span *ngFor="let _ of rev?.value_score || 0 | times">
                    ⭐
                  </span>
                </td>

                <td>
                  <span
                    *ngFor="let _ of rev?.professionalism_score || 0 | times"
                  >
                    ⭐
                  </span>
                </td>

                <td>
                  <span *ngFor="let _ of rev?.cleanliness_score || 0 | times">
                    ⭐
                  </span>
                </td>

                <td>
                  <span *ngFor="let _ of rev?.communication_score || 0 | times">
                    ⭐
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
        <br />
        <mat-card-content style="line-height: 1rem">{{
          rev?.feedback
        }}</mat-card-content>
        <ng-container *ngIf="!review || !reviewLoaded">
          <!-- mat-spinner centered on button -->
          <mat-spinner
            class="spinner"
            [diameter]="30"
            [strokeWidth]="4"
            [value]="50"
            [mode]="'indeterminate'"
            style="margin: 2rem auto; min-height: 4rem"
          ></mat-spinner>
        </ng-container>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
