<!--Set dentist1.jpg as header background image-->
<header fxLayout="column" fxLayoutAlign="center center" class='big-header' style="background-image: url('assets/img/dentist1.jpg');">
    <mat-toolbar fxFill class='big-headline' angular-textcolor="White" fxLayout="column" fxLayoutAlign="center center" style="background-color:transparent ;">
        <h1 style="color:white">Dentist Menu</h1>
    </mat-toolbar>
</header>

<div class="General-box">
    <div class="container-fluid padding">
        <div class="row welcome text-center" style="margin-left: 250px; margin-right: 250px;">
            <div class="col-12">
                <br>
                <h1 style="margin-top: 50px; font-size: 50px;">Dentist Menu</h1>
                <h3 style="padding-left: 2px">View and use all your main functions like process a patient's appointment.</h3>
                <hr>
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <div><button class="mbutton" mat-raised-button color="primary" (click)="editPatient()">
            Check patient's medical history
        </button></div>
        <div><button class="mbutton" mat-raised-button color="primary" (click)="editAppointment()">
            Add a treatment to completed appointment
        </button></div>
    </div>
</div>