<!--Set dentist1.jpg as header background image-->
<header fxLayout="column" fxLayoutAlign="center center" class='big-header' style="background-image: url('assets/img/dentist1.jpg');">
        <mat-toolbar fxFill class='big-headline' angular-textcolor="White" fxLayout="column" fxLayoutAlign="center center" style="background-color:transparent ;">
            <h1 style="color:white">Frequently Asked Questions</h1>
        </mat-toolbar>
</header>
    
<div class="General-box">
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <br>
                <img src="../../../assets/img/icon-faq.png" class="imgcenter" width="100" height="100">
                <h1 id="General Dentistry"class="display-4" fxLayoutAlign="center center" style="margin-top: 50px; font-size: 50px;">FAQ</h1>
                <h3 class="txtcenter" fxLayoutAlign="center center">We get a lot of questions, naturally, about the wide range of dental services we perform here at our 
                    "name" dental clinics. Here are the answers to the most frequently asked questions. Don't see yours answered here? Feel free to reach out to us.</h3>
            </div>
            <hr>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-center">
        <h3 style="font-weight: bold;">Q: What if I have a dental emergency?</h3>
        <h3>Our dental clinics offer same-day appointments for Ontario residents. Whether you’re experiencing serious tooth pain, or you’ve chipped or broken a tooth, it’s 
            important you get in touch with us as soon as you realize you need to make an emergency visit to the dentist. </h3> <hr>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-center">
        <h3 style="font-weight: bold;">Q: What if I have a dental emergency?</h3>
        <h3>Our dental clinics offer same-day appointments for Ontario residents. Whether you’re experiencing serious tooth pain, or you’ve chipped or broken a tooth, it’s 
            important you get in touch with us as soon as you realize you need to make an emergency visit to the dentist. </h3> <hr>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-center">
        <h3 style="font-weight: bold;">Q: What if I have a dental emergency?</h3>
        <h3>Our dental clinics offer same-day appointments for Ontario residents. Whether you’re experiencing serious tooth pain, or you’ve chipped or broken a tooth, it’s 
            important you get in touch with us as soon as you realize you need to make an emergency visit to the dentist. </h3> <hr>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-center">
        <h3 style="font-weight: bold;">Q: What if I have a dental emergency?</h3>
        <h3>Our dental clinics offer same-day appointments for Ontario residents. Whether you’re experiencing serious tooth pain, or you’ve chipped or broken a tooth, it’s 
            important you get in touch with us as soon as you realize you need to make an emergency visit to the dentist. </h3> <hr>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-center">
        <h3 style="font-weight: bold;">Q: What if I have a dental emergency?</h3>
        <h3>Our dental clinics offer same-day appointments for Ontario residents. Whether you’re experiencing serious tooth pain, or you’ve chipped or broken a tooth, it’s 
            important you get in touch with us as soon as you realize you need to make an emergency visit to the dentist. </h3> <hr>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-center">
        <h3 class="txtcenter" style="font-weight: bold;">Have other questions? <a href="../contact/">Reach out to us!</a> </h3>
        </div>
    </div>

